

<ul class="gen_client" ng-repeat="client in clients">
  <li><b>Your invoicing:</b></li>
  <li>{{client.company}}</li>
  <li>{{client.first}}{{client.last}}</li>
  <li>{{client.position}}</li>
  <li>{{client.email}}</li>
  <li>{{client.phone}}</li>
</ul>


<h4>drop in some projects</h4>
      
  <ul class="projectList">
    <li ng-repeat="project in projects">
      <span class="row">
        <a class="close" ng-click="delete($index)">×</a>
        <span class="large-4 columns">{{project.desc}}</span>
        <span class="large-2 columns">{{project.qty}}</span>
        <span class="large-2 columns">{{project.cost}}</span>
        <span class="large-2 columns">{{project.inCurr}}</span>
        <span class="large-2 columns">{{project.total}}</span>
      </span>
    </li>
  </ul>

  <div projectentry></div>

  <br>
  <div class="row">
    <div class="large-4 columns">
      <button class="btn" type="button" projectadd="addProj()" ng-click="reset()">Add Row</button>
    </div>
    <div class="large-4 columns">
      <button class="btn" type="button" projectremove="removeProj()">Remove Row</button>
    </div>
    <div class="large-4 columns end">
      <button class="btn" type="button" invoicegen="generateInvoice()">Generate invoice</button>
    </div>
  </div>