/* app css stylesheet */

body {

  font-family: "rooney-sans",sans-serif;
  font-style: normal;
  font-weight: 300;

} 

.gen_client li {
  width: 100%;
  text-align: center;
  font-size: 13px;
}

.gen_client b {
  display: block;
  margin-bottom: 8px;
  margin-top: 30px;
}

.close {
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
  position: absolute;
  right: 16px;
  margin-top: 3px;
  z-index: 2;
}

h4 {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.projectList span {
  position: relative;
  display: block;
}

.projectList li {
  margin: 20px 0px;
}

.close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}


ul, li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/**invoice input styles**/

input {
  width: 100%;
  font-family: "rooney-sans",sans-serif;
}

.btn {
  font-family: "rooney-sans",sans-serif;
  width: 100%;
}

/**end invoice input styles**/

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

