<h4>Login</h4>


<div class="row">
    <div class="large-4 columns">
      <label>First name
        <input type="text" ng-model="user.first" placeholder="D" />
      </label>
    </div>
    <div class="large-4 columns">
      <label>Last name
        <input type="text" ng-model="user.last" placeholder="Ream" />
      </label>
    </div>
    <div class="large-4 columns">
        <label>email 
          <input type="text" ng-model="user.email" placeholder="dopeness.me" />
        </label>
    </div>
</div>

<div class="row">
    <div class="large-6 columns">
      <label>Password
        <input type="password" ng-model="user.value1" equals="{{user.value2}}" required>
      </label>
    </div>
    <div class="large-6 columns">
      <label>Re-enter Password 
        <input type="password" ng-model="user.value2" equals="{{user.value1}}" required>
      </label>
    </div>
</div>

<div class="row">
  <div class="large-6 large-centered columns">
    <button class="btn" useradd="userAdd()">Get started</button>
  </div>
</div>

  