<h4>Choose yo scriller, fo yo biller</h4>


<div class="row">
    <div class="large-12 columns">
        <b>Company</b>
        <br>
    </div>
    <div class="large-12 columns">
      <label>Company name
        <input type="text" ng-model="client.company" placeholder="The Nutz Inc." />
      </label>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
      <b>Client</b>
      <br>
    </div>

    <div class="large-4 columns">
      <label>First name
        <input type="text" ng-model="client.first" placeholder="D" />
      </label>
    </div>
    <div class="large-4 columns">
      <label>Last name
        <input type="text" ng-model="client.last" placeholder="Ream" />
      </label>
    </div>
    <div class="large-4 columns">
        <label>Position 
          <input type="text" ng-model="client.position" placeholder="Manager of the dopeness" />
        </label>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <label>Email
        <input type="text" ng-model="client.email" placeholder="email address" />
      </label>
    </div>
    <div class="large-6 columns">
      <label>Phone number
        <input type="text" ng-model="client.phone" placeholder="+44 (0) 7999 999 999" />
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Client notes
        <textarea ng-model="client.notes" placeholder="These arent seen in your invoices, but can be used to keep remind you of contact details"></textarea>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-6 large-centered columns">
      <button class="btn" clientadd="clientAdd()">Add some projects</button>
    </div>
  </div>

  