<div class="row">
  <div class="large-4 columns">
    <label>Description: <input type="text" placeholder="Project description..." ng-model="invoice.desc" required ></label>
  </div>

  <div class="large-2 columns">
    <label>Quantity: <input type="number" ng-model="invoice.qty" required ></label>
  </div>
  
  <div class="large-2 columns">
    <label>Costs: <input type="number" ng-model="invoice.cost" required ></label>
  </div>
  <div class="large-2 columns">
    <label>Currency
      <select ng-model="invoice.inCurr">
        <option ng-repeat="c in invoice.currencies">{{c}}</option>
      </select>
    </label>
  </div>

  <div class="large-2 columns">
    <b>Total:</b>
    <span ng-repeat="c in invoice.currencies">
      {{invoice.total(c) | currency:c}}
    </span>
  </div>

</div>
